[toolchain]
anchor_version = "0.29.0"

[features]
seeds = false
skip-lint = false

[programs.localnet]
offer = "52CejgfZEeefMzvYqJ7RmcT4NzemCDZf4nsX3kywuw2B"
price = "8uzArQW1YiLwh2CLQhMU1Ya774EMEbdbpgux6Tf8z1rn"
profile = "BG73i544YBJXTQaHVqCcTo94pnwvMw4euWhk5V9UvQxK"
trade = "437aWt9WrLYquEwJsVe3B3kANP77ZCvn4gs4hJBNLefG"

[programs.mainnet]
offer = "52CejgfZEeefMzvYqJ7RmcT4NzemCDZf4nsX3kywuw2B"
price = "8uzArQW1YiLwh2CLQhMU1Ya774EMEbdbpgux6Tf8z1rn"
profile = "BG73i544YBJXTQaHVqCcTo94pnwvMw4euWhk5V9UvQxK"
trade = "437aWt9WrLYquEwJsVe3B3kANP77ZCvn4gs4hJBNLefG"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Localnet"
wallet = "target/deploy/test-keypair.json"

[workspace]
members = ["programs/price", "programs/offer", "programs/trade", "programs/profile"]
types = "target/types"

[scripts]
test = "cd tests && pnpm test:offer"

[test]
startup_wait = 10000
shutdown_wait = 2000
upgradeable = false

[test.validator]
bind_address = "0.0.0.0"
url = "http://127.0.0.1:8899"
ledger = ".anchor/test-ledger"
rpc_port = 8899
